@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-font {
    font-family: "Lexend", sans-serif;
    font-weight: 400;
}
.active{
    background-color: #B4F461;
    border: none;
    transition: all ease 0.2s;
}
